body {
        background-color: aliceblue;
        background-image: radial-gradient(1.5px, rgb(22, 30, 123), aliceblue);
        background-size: 50px 50px;
        background-repeat: repeat;

        font-family: Arial, Helvetica, sans-serif;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}

#filterer {
    position: sticky;
}

#modlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.track {
    background-color: rgb(221, 238, 253);
    border: solid 4px black;
    border-radius: 9px;

    max-width: 500px;
    padding: 12px;
    margin: 5px;
}

.title {
    display: flex;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin: 0;
}

.track p {
    margin-bottom: 0;
}

.icon {
    width: 100px;
}