html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#screen {
    width: 100%;
    
}

button {
    position: fixed;
}