* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    background-color: rgb(20,20,25);
    color: aliceblue;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 0px;
    
}


/*helpme*/
#sidebar {
    grid-row: span 20 / span 20;

    /* width: 10vw; */

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: start;
}

#sidebar #tree {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    align-content: start
}

#topbar {
    grid-column: span 19 / span 19;
    grid-row: span 2 / span 2;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    align-content: start;
}

#topbar #tabs {
    flex: 999 999 auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    align-content: start;

    height: 100%;
}

#topbar #tabs button {
    padding-left: 1em;
    padding-right: 1em;
}

#tabs button.selected {
    background-color: rgb(10,10,20);
    text-decoration: underline overline;
}
#tabs button:hover {
    background-color: rgb(0,0,20);
}

#topbar #menu {
    width: 5vw;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#topbar button {
    background: none;
    border: none;
    color: white;
    height: 100%;

    font-size: larger;
}

#folder-input {
    display: none;
}


#desk {
    grid-column: span 19 / span 19;
    grid-row: span 18 / span 18;
    grid-column-start: 2;
    grid-row-start: 3;

    background-color: rgb(5,5,10);
    background-image: radial-gradient(0.1vw, rgb(87, 90, 121), rgb(5,5,10));
    background-size: 6vw 6vw;
    background-repeat: repeat;

    /* overflow: scroll; */


}

.page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    /* align-items: baseline; */
    align-content: start;

    /* overflow: scroll; */

    visibility: hidden;
    width: 0px;
    height: 0px;
}

.loaded-page {
    visibility: visible;
    width: auto;
    height: 100%;
}
.unloaded-page {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.stack {
    overflow: scroll;
    

    scrollbar-color: #21a33d black;

    min-width: 15vw;
    height: 100%;

    margin: 20px;
    margin-top: 0px;
}

.label {
    margin: 1vw;

    width: 12vw;
    height: 4vw;

    font-size: 1.2vw;


    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-bottom: 10vw;

    width: 20vw;
    height: auto;
    
}
.info p {
    font-size: medium;
}

/* TRACK */

.track {
    background-color: #21a33d;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(0, 255, 13);

    margin: 1vw;

    width: 250px;
    height: 100px;

    padding: 0;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0vw;
}

.track button {
    background: none;
    border: none;
    color: aliceblue;

    font-size: x-large;
}
.track button:hover {
    scale: 1.2;
}
.track button:active {
    scale: 1.1;
}

.track .move {

}
.track .name {
    grid-column: span 4 / span 4;


    margin: 0;
    font-size: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
.track .volume {
    grid-column-start: 6;
}
.track .playpause {
    grid-row-start: 2;
    margin-right: 0.7vw;
    margin-left: 0.7vw;

    padding: 0;

    width: auto;

}
.track .seeker {
    grid-column: span 4 / span 4;
    grid-row-start: 2;

    /* -webkit-appearance: none; */
    width: 100%;
    background: transparent;

    color:#21a33d;

    
}
.track .seeker::-moz-range-thumb, .track .seeker::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    height: 20px;
    background-color: aliceblue;
    border: rgb(20,20,25) solid 2px;
    border-radius: 5px;
}
.track .seeker::-moz-range-track {
    cursor: pointer;

    background: rgb(170, 170, 170); 
    border: rgb(20,20,25) solid 0.1vw;
    border-radius: 10px;
    color: transparent;

    width: 100%;
    height: 0.4vw;
}
.track .duration {
    grid-column-start: 6;
    grid-row-start: 2;

    font-size: 0.8em;
    display: flex;
    align-items: center;

    margin-right: 0.7vw;
    margin-left: 0.7vw;
}

.track .shipment {
    position: absolute;

    background-color: pink;
    border: black solid 2px;

    visibility: hidden;

    display: flex;
    flex-direction: column;
}

.track .shipment button {
    color: black;
    font-size: 1em;

    /* border-bottom: black solid 1px; */
}

.track .shipment button:hover {
    scale: 1.05;
}


/* Misc */

@keyframes left-alert {
    0% {
        left: -100%;
    }
    10% {
        left: 0%;
    }
    90% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

#toast {
    position: fixed;
    bottom: 0;

    left: -100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1vh;
    padding: 2vh;
    width: 32vh;
    height: 15vh;
    
    color: aliceblue;
    background-color: rgb(0,0,20);
    border-width: 4px;
    border-radius: 10px;
    border-style: ridge;
    border-color: aliceblue;

    /* animation-name: left-alert; */
    animation-duration: 5s;
}

#toast.error {
    border-color: rgb(255, 92, 80);
}

#toast.success {
    border-color: seagreen;
}

#toast.meh {
    border-color: goldenrod;
}

#toast h1 {
    margin: 0;
    font-size: 2.5vh;
    font-weight: bolder;
}
#toast p {
    margin: 1vh;
    font-size: 2vh;
}