.name {
    margin-bottom: 0;
}

.sub {
    margin-top: 0;
    font-weight: bolder;
    font-style: italic;

    text-shadow: 0 0 10px rgb(0, 127, 254);
}

.sub2 {
    margin-top: 0;

    font-style: italic;
}

.desc {
    max-width: 800px;
    text-align: center;

    background-color: rgb(255, 240, 249) !important;
    border: solid 4px black;
    border-radius: 9px;
    margin: 5px;
    padding: 12px;

    display: flex;

    align-items: center;
}

.desc p {
    margin: 7px;
}

.desc2 {
    padding: 2px;
    justify-content: center;
}

#info-desc-box {
    display: flex;
}

/* rearrange things if mobile */
@media only screen and (max-width: 600px) {
    #info-desc-box {
        flex-direction: column;
    }
}

.desc div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.download {
    background-color: rgb(221, 253, 227);
    border: solid 2px black;
    border-radius: 9px;

    padding: 7px;
    margin: 2px; 
    margin-left: 12px;
    margin-right: 12px;

    font-weight: bolder;
    font-style: italic;

    text-decoration: none;
    color: black;
}
