* {
    /*background-color: black;*/
    color: white;

}

body {
    margin: 0px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#input * {
    background-color: black;
}

#board {
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    display: block;

    overflow: hidden;
}

#board p {
    position: absolute;
    width: max-content;

    max-width: 200px;
    margin: 0px;
}

@media (max-width: 450px) {

    h1 {
        font-size: 10em;
    }
    p {
        font-size: 3em;
        font-weight: bolder;
    }

    #input * {
        font-size: 2em;
    }

    #board p {
        font-size: 30px;

        max-width: 400px;
    }
}
