* {
    /*background-color: black;*/
    color: white;

}

h1 {
    font-size: 10em;
}
p {
    font-size: 3em;
    font-weight: bolder;
}

body {
    margin: 0px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#input * {
    background-color: black;

    font-size: 2em;
}

#board {
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    display: block;

    overflow: hidden;
}

#board p {
    position: absolute;
    width: max-content;

    font-size: 30px;

    max-width: 400px;
    margin: 0px;
}
